<!-- BEGIN NAVBAR LOGO -->
{% assign prefix = include.prefix | default: 'navbar' %}
{% assign breakpoint = include.breakpoint | default: 'lg' %}

{% capture class-attr %}class="{{ prefix }}-brand {{ prefix }}-brand-autodark{% if include.class %} {{ include.class }}{% endif %}"{% endcapture %}

{% if include.header %}
<div {{ class-attr }}>
	<a href="{{ page | relative }}{% if include.href %}/{{ include.href }}{% endif %}">
{% else %}
	<a href="{{ page | relative }}{% if include.href %}/{{ include.href }}{% endif %}" {{ class-attr }}>
{% endif %}
	{% unless include.hide-logo %}
	{% if include.small-logo %}
	<img src="{{ page | relative }}/static/boomn-beta-logo-full.png" width="32" height="32" alt="Boomn Logo" class="navbar-brand-image{% if include.show-title %} me-3{% endif %}">
	{% else %}
	<img src="{{ page | relative }}/static/boomn-beta-logo-full.png" width="110" height="32" alt="Boomn Logo" class="navbar-brand-image{% if include.show-title %} me-3{% endif %}">
	{% endif %}
	{% endunless %}

	{% if include.show-title %}
	Dashboard
	{% endif %}

{% if include.header %}
	</a>
</div>
{% else %}
</a>
{% endif %}
<!-- END NAVBAR LOGO -->